/*Author-- Scotty McMahon E-Mail: scottmcmahondev@outlook.com*/

#page{
    max-width: 940px;
    min-width: 720px;
    margin:10px auto 10px auto;
    padding: 20px;
    background-color: #ffffff;
}

/*Header CSS*/
#MenuBar{
    position: fixed;
    background-color: crimson;
    max-width: 940px;
    min-width: 720px;
    height: 10%;
    left: 0;
    top: 0;
}

#MenuBar ul{
    margin: 0px auto 0px auto;
    text-align: center;
}

#MenuBar ul li{
    right:0;
    display: inline-block;
    background-color: darkorange;
    list-style: none;
    text-decoration: none;
}

#MainBody{
    margin-top: 100px;
}