#MenuBar{
    position: fixed;
    background-color: crimson;
    width: 100%;
    height:10%;
    left:0;
    top: 0;
    padding: 5px;
}


#MenuBar ul li{
    position: relative;
    list-style: none;
    text-decoration: none;
    display: inline;
    padding: 20px;
}

body{
    background-color: cornsilk;
    margin-left:100px;
    margin-right:100px;
}

#AboutMe{
    position: fixed;
    right:0;
    bottom:0;
    padding: 20px;
    width: 100px;
    height:100%;
    margin-left: 0;
}
.MyFace{
    position: static;
    width: 20%;
    height: 5%;
}