body{
    background-color: peachpuff;
    margin-bottom: 30px;
}
.MyFace{
    width: 130px;
    height: 150px;
}
#AboutMe{
    width: 500px;
    height: 500px;
}

#Footer{
    position:fixed;
    height:30px;
    bottom:0;
    left:0;
    right:0;
    margin-bottom:0;
}
.ContactMe{
    position: fixed;
    height:30px;
    margin-left:0;
}

.copyright{
    position: fixed;
    height:30px;
    margin-right:0;
}
