body{
    background-color: peachpuff;
    margin-bottom: 30px;
}
.MyFace{
    position: absolute;
    width: 130px;
    height: 150px;
}
#AboutMe{
    position: fixed;
    left:100px;
    width: 100px;
    height: 100px;
}
