/*Author-- Scotty McMahon E-Mail: scottmcmahondev@outlook.com*/
/*Main body CSS*/
body{
    background-color: cornsilk;
}

/*Header CSS*/
#MenuBar{
    position: fixed;
    background-color: crimson;
    width: 100%;
    height: 10%;
    left: 0;
    top: 0;
}

#MenuBar ul{
    horiz-align: center;
}

#MenuBar ul li{
    display: inline-block;
    background-color: darkorange;
    padding: 10px;
    list-style: none;
    text-decoration: none;
}

#MainBody{
    padding:30px;
    padding-top:13%;
}