body{
    background-color: #ff6014;
    margin-left:100px;
    margin-right:100px;
}

#AboutMe{
    position: fixed;
    right: 100px;
    width:250px;
    height:100%;
    margin-left: 0;
}
.MyFace{
    position: static;
    width: 100px;
    height: 130px;
}
ul{
    list-style: none;
    text-decoration: none;
}
#MenuBar{
    position: fixed;
    background-color: crimson;
    width:400px;
    left:100px;
    right:100px;
    top:0;
    padding:5px;
}